*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu' , sans-serif;
     
}

h2{
    font-size: 2.9rem;
    font-weight: bold;
    text-align: center;
    padding: 3rem;
    padding-bottom: 4rem;
    padding-top: 3.5rem;
    color: rgb(177, 45, 45);
    text-shadow: 1px 6px 10px rgba(52, 52, 52, 0.256);
   }

   h3{
    margin-top: 3vh;
    font-size: 25px;
    letter-spacing: 2px;
    
   }

.coming{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countdown{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 3rem;
    
}

.day,.hour,.minute,.second{
    font-size: 4rem;
    font-weight: 1000;
    text-shadow: 1px 6px 12px rgba(52, 52, 52, 0.197);

    

}

.voting{
   height:40vh;
   width: 90vh;
   position: relative;
   align-content: center;
   top: 70px;
   left: 2px;
   
}

.flag{
    position: relative;
    height: 6.675vh; 
    width: 10vh;
    top: 25px;
    justify-content:left;
    flex-direction:inherit;
    left: -680px;

}
