*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu' , sans-serif;
     
}

h2{
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
    padding: 4rem;
    padding-bottom: 5rem;
    padding-top: 4rem;
   


}

.coming{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countdown{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 4rem;
}

.day,.hour,.minute,.second{
    font-size: 2.8rem;
    

}

.voting{
   height:40vh;
   width: 90vh;
   position: relative;
   align-content: center;
   top: 80px;
   left: 2px;
   
}